swb4TripleStoreModule {
   org.semanticwb.security.auth.TripleStoreLoginModule required;
};

LDAPModule {
   org.semanticwb.security.auth.LDAPLoginModule required;
};

GeoLoginModule {
   org.semanticwb.security.auth.GeoLoginModule required;
};

RemoteURLLoginModule {
   org.semanticwb.security.auth.RemoteURLLoginModule required;
};

FacebookModule {
   org.semanticwb.security.auth.FBLoginModule required;
};