<template method="setHeaders" Content-Type="text/html; charset=UTF-8" charset="UTF-8" Cache-Control="no-cache" Pragma="no-cache"  response="{response}" />
<!DOCTYPE html>
<html>
    <head>
        <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
        <title>Semantic WebBuilder 4</title>
        
        <style type="text/css">
            @import "<webpath/>/swbadmin/js/dojo/dijit/themes/soria/soria.css";
            @import "<webpath/>/swbadmin/css/swb.css";
            @import "<webpath/>/swbadmin/js/dojo/dojox/layout/resources/ExpandoPane.css";
            @import "<webpath/>/swbadmin/js/dojo/dojox/form/resources/FileInput.css";
            /*
            @import "<webpath/>/swbadmin/js/dojo/dojo/resources/dojo.css";
            */            

            /* pre-loader specific stuff to prevent unsightly flash of unstyled content */
            #loader {
                padding:0;
                margin:0;
                position:absolute;
                top:0; left:0;
                width:100%; height:100%;
                background:#fff url('<webpath/>/swbadmin/images/loading.gif') no-repeat center center;
                z-index:999;
            }
            #loaderInner {
                padding:5px;
                position:relative;
                left:0;
                top:0;
                width:230px;
                _background:#e1ebfb;
                background:#94b9ef;
                color:#000;
            }
            #status {
                padding:5px;
                position:absolute;
                left:0px;
                bottom:-30px;
                background:#3c3;
                text-align:center;
                font-weight:bold;
                color:#fff;
                z-index:999;
                width:100%;
                opacity: .85; filter: alpha(opacity=85); -moz-opacity: 0.85;
                border:1px double black;
            }
        </style>

        <script type="text/javascript" src="{webpath}/swbadmin/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true, isDebug: false, locale: '{user@getLanguage}'"></script>
        <script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/swb.js"></script>
        <script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/swb_admin.js"></script>
        <script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/schedule.js"></script>
        <script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/fileUpload.js" ></script>
        <script type="text/javascript">
            context="<webpath/>";
            word_separator='_';
            dojo.addOnLoad
            (
                function()
                {
                    //alert("OnLoad");
                    var start = new Date().getTime();
                    //dojo.parser.parse(dojo.byId('main'));
                    console.info("Total parse time: " + (new Date().getTime() - start) + "ms");

                    //dojo.byId('loaderInner').innerHTML += " done.";
                    setTimeout(function hideLoader()
                    {
                        var loader = dojo.byId('loader');
                        dojo.fadeOut({ node: loader, duration:500,
                            onEnd: function(){
                                loader.style.display = "none";
                            }
                        }).play();
                    }, 0);
                }
            );
        </script>
        <script type="text/javascript">
	 dojo.require("dojox.layout.ExpandoPane");
        </script>
    </head>
    <body class="soria">
        <!-- basic preloader: -->
        <div id="loader"><div id="loaderInner"><if:user language="es">Cargando SemanticWebBuilder...</if:user><if:user language="en">Loading SemanticWebBuilder...</if:user></div></div>

<!--
        <div dojoType="dojo.data.ItemFileWriteStore" jsId="sitesStore" url="{webpath}/swbadmin/jsp/Sites.jsp"></div>
-->
        <!-- "main" BorderContainer just contains page title and another BorderContainer -->
        <div id="main" dojoType="dijit.layout.BorderContainer">

            <!-- toolbar with new mail button, etc. -->
            <div dojoType="dijit.Toolbar" region="top" style="height:25px;" href="{webpath}/swbadmin/jsp/toolBar.jsp">
                <include src="/swbadmin/jsp/toolBar.jsp"/>
            </div>
            <!-- end toolbar -->

            <!-- "mainSplit" BorderContainer has all the real content -->
            <div dojoType="dijit.layout.BorderContainer" liveSplitters="false" design="sidebar" region="center" id="mainSplit">

                <!-- "leftSplit" BorderContainer has all the real content -->
                <div dojoType="dijit.layout.BorderContainer" duration="200" minSize="20" style="width: 250px;" splitter="true" region="leading" id="leftSplit">
<!--
                    <input dojoType="dijit.form.ComboBox"
                           value="Global"
                           class="medium"
                           store="sitesStore"
                           searchAttr="name"
                           style="width: 250px;"
                           name="state2"
                           id="sitesComboBox"
                           region="top"
                           />

                <div dojoType="dojox.layout.ExpandoPane" splitter="true"
				duration="125"
				region="left"
				title="Left Section"
				id="leftPane"
				maxWidth="275"
				style="width: 275px;">
-->
                    <div dojoType="dijit.layout.AccordionContainer" id="leftAccordion" region="center" splitter="true">

                        <template method="writeGT"/>div dojoType="dijit.layout.AccordionPane" title="<if:user language="es">Sitios</if:user><if:user language="en">Sites</if:user>" selected="true">
                            <include src="/swbadmin/jsp/treeWidget.jsp?id=mtree"/>
                        </div>
<!--
                        <template method="writeGT"/>div dojoType="dijit.layout.AccordionPane" title="<if:user language="es">Repositorios de Documentos</if:user><if:user language="en">Document Repository</if:user>">
                            <include src="/swbadmin/jsp/treeWidget.jsp?id=mdoc"/>
                        </div>
-->
                        <template method="writeGT"/>div dojoType="dijit.layout.AccordionPane" title="<if:user language="es">Repositorios de Usuarios</if:user><if:user language="en">User Repository</if:user>">
                            <include src="/swbadmin/jsp/treeWidget.jsp?id=muser"/>
                        </div>
<!--                
                        <template method="writeGT"/>div dojoType="dijit.layout.AccordionPane" title="<if:user language="es">Ontologias</if:user><if:user language="en">Ontologies</if:user>">
                            <include src="/swbadmin/jsp/treeWidget.jsp?id=mont"/>
                        </div>
-->
                        <template method="writeGT"/>div dojoType="dijit.layout.AccordionPane" title="<if:user language="es">Favoritos</if:user><if:user language="en">Favorites</if:user>">
                            <include src="/swbadmin/jsp/treeWidget.jsp?id=mfavo&showRoot=true&rootLabel=Server"/>
                        </div>
                    </div><!-- end AccordionContainer -->

                    <template method="writeGT"/>div id="vprop" dojoType="dijit.TitlePane" title="<if:user language="es">Propiedades</if:user><if:user language="en">Properties</if:user>" class="admViewProperties" open="true" duration="150" minSize_="20" splitter_="true" region="bottom">
                        View Properties ...
                        <script type="dojo/method" event="postCreate" args="" >     
                            //console.log(this);
                            this._setCss();
                            dojo.setSelectable(this.titleNode,false);
                            dijit.setWaiState(this.containerNode,"labelledby",this.titleNode.id);
                            dijit.setWaiState(this.focusNode,"haspopup","true");
                            var _1=this.hideNode,_2=this.wipeNode;
                            this._wipeIn=dojo.fx.wipeIn({
                                node:this.wipeNode,
                                duration:this.duration,
                                beforeBegin:function(){
                                    _1.style.display="";
                                },
                                onEnd:function(){
                                //alert("open");
                                dijit.byId("leftSplit").layout();
                                }
                            });
                            this._wipeOut=dojo.fx.wipeOut({
                                node:this.wipeNode,
                                duration:this.duration,
                                onEnd:function(){
                                    _1.style.display="none";
                                    //alert("close");
                                    dijit.byId("leftSplit").layout();
                                }
                            });
                            //this.inherited(arguments);
                            window.setTimeout(function(){dijit.byId("vprop").toggle()}, 1000);
                            //this.toggle();
                        </script>
                    </div>
                </div><!-- leftsplit -->

                        <!-- top tabs (marked as "center" to take up the main part of the BorderContainer) -->
                <div dojoType="dijit.layout.TabContainer" region="center" id="tabs" jsId="tabs">
                    <!-- sixth upper tab -->
<!--
                    <div dojoType="dijit.layout.ContentPane" title="Inicio" style="display:none; padding:10px; " closable="true" href="{webpath}/swb/SWBAdmin/Work_Admin">
                    </div>
-->
                    <template method="writeGT"/>div id="swbPreviewTab" dojoType="dijit.layout.ContentPane" title="<if:user language="es">Vista Previa</if:user><if:user language="en">Preview</if:user>" style="display:none; padding:10px; " closable="false" href_="{webpath}/swb">
                        <iframe id="swbPreviewFrame" dojoType="dijit.layout.ContentPane" src="{webpath}/swb/SWBAdmin/Work_Admin" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div><!-- end of region="center" TabContainer -->
            </div> <!-- end of "mainSplit" BorderContainer -->
        </div><!-- end of "main" BorderContainer -->
        <!-- dialog -->
        <div dojoType="dijit.Dialog" style="display:none;" id="swbDialog" title="Agregar" onFocus="hideApplet(true);" onBlur="if(!this.open)hideApplet(false);" >
            <div dojoType="dojox.layout.ContentPane" id="swbDialogImp" executeScripts="true">
                Cargando...
            </div>
        </div>
        <div id="status" dojoType="dojox.layout.ContentPane" executeScripts="true">status...</div>
        <!--<applet code="LoadApplet" codebase="{webpath}/swbadmin/lib" width="0" height="0"></applet>-->
    </body>
</html>