/* CSS Document */

body { margin:0; padding:30px; font-family: Arial, Helvetica, sans-serif; color:#999;}
.azul1, h2, a { color:#336699}
.azul2 { color:#6699CC}

/*MOVIMIENTOS*/
.movs 			{ font-size:18px}
.movs table 	{ border-collapse:collapse; width:100%; margin:20px 0 30px; border: solid 1px #69C }
.titulo,
.movs caption   { text-align:left; border-bottom:1px solid #369; width:100%; padding-bottom:3px; color:#369; margin-bottom:15px}
.movs thead		{ border:solid 1px #69C; background:#69C; color:#FFF;}
.movs th        { font-weight:normal; padding:5px 3px }
.movs tbody     {}
.movs tr        {}
.movs td        { border-top:1px solid #e1e1e1; padding:5px 3px}

/*DASHBOARD*/
.dash fieldset	{ border:none; margin:0; padding:0; position:relative}
.dash .swbform	{}
.dash fieldset  {}
.dash div       {}

#chart_SWBAdmin_div { border:none !important}
.swbform fieldset a + div { width: 100% !important}
.swbform a { position:absolute; top:-38px; right:0;}