<template method="setHeaders" Content-Type="text/html; charset=UTF-8" charset="UTF-8" Cache-Control="no-cache" Pragma="no-cache"  response="{response}" />
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{user@getLanguage}" lang="{user@getLanguage}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SWB</title>
<link href="images/estilo_portada.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{webpath}/swbadmin/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true, isDebug: false, locale: '{user@getLanguage}'"></script>
<script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/swb.js"></script>
<!--script type="text/javascript" charset="utf-8" src="{webpath}/swbadmin/js/swb_admin.js"></script-->
</script>
</head>
<body>

<img src="images/swb-portal.png" class="logo">

<h2><USER method="getFullName"/></h2>

<div class="movs"
><RESOURCE TYPE="SiteLog"></RESOURCE>
</div>

<div class="dash">
<p class="titulo">Reportes</p>
<RESOURCE NAME="WebsiteDashboardMonitor" TYPE="WebsiteDashboardResource"/>
</div>

</body>
</html>